apiVersion: apps/v1
kind: Deployment
metadata:
  name: people-api-postgres
  labels:
    app: people-api-postgres
spec:
  selector:
    matchLabels:
      app: people-api-postgres
  template:
    metadata:
      labels:
        app: people-api-postgres
    spec:
      containers:
        - name: db
          image: postgres:17-alpine3.22
          ports:
            - containerPort: 5432
              name: postgres
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: people-api-postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: people-api-postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: people-api-postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$(POSTGRES_USER:-postgres)"
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$(POSTGRES_USER:-postgres)"
            periodSeconds: 10
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$(POSTGRES_USER:-postgres)"
            periodSeconds: 20
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        
