apiVersion: apps/v1
kind: Deployment
metadata:
  name: people-api
  labels:
    app: people-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: people-api
  template:
    metadata:
      labels:
        app: people-api
    spec:
      # enable for local testing without NGINX
      # hostAliases:
      # - ip: "10.96.109.210" # ClusterIP of the 'people-keycloak' service
      #   hostnames:
      #   - "mcqueide.local"
      containers:
      - name: people-api
        image: mcqueide/people-api:v1.0.1
        ports:
        - containerPort: 8081
        
        resources:
          requests:
            memory: "256Mi"
            cpu: "0.25"
          limits:
            memory: "512Mi"
            cpu: "0.5"
        
        envFrom:
        - configMapRef:
            name: api-env
        - secretRef:
            name: api-secret

        startupProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          failureThreshold: 30
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          periodSeconds: 20

        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          capabilities:
            drop:
            - ALL
          seccompProfile:
            type: RuntimeDefault
      