apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-keycloak
  labels:
    app: {{ .Release.Name }}-keycloak
spec:
  selector:
    app: {{ .Release.Name }}-keycloak
  type: {{ .Values.container.service.type }}
  ports:
    - port: {{ .Values.container.service.port }}
      targetPort: {{ .Values.container.service.targetPort }}
      protocol: TCP