apiVersion: v1
pvc:
  accessMode: ReadWriteOnce
  size: 1Gi
container:
  image:
    repository: postgres
    tag: 17-alpine3.22
  storage:
    size: 1Gi
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  service:
    type: ClusterIP
    port: 5432
    targetPort: 5432
  environment:
    POSTGRES_DB: cGVvcGxl
    POSTGRES_USER: cGVvcGxl
    POSTGRES_PASSWORD: cGVvcGxl